# وابستگی‌ها و خروجی ساخت
node_modules
dist
dist-ssr
*.local

# سیستم‌عامل و ویرایشگر
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea

# گزارش‌ها
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
